<h1> Search For a Movie again because there is no data </h1>

<form action="/results" method="GET">
	<input type="text" placeholder="search movie" name ="search">
<!-- name(we call query string) = search will appear in tab browser -->
	<input type="submit">
</form>